.quitar-float{
	float: none;
}

.centrar{
	text-align: center;
}

.productos{
	margin-left: 280px;
}
.imagenes-prod{
	width: 100px;
	height: 100px;
}

.h3{
	font-size: 25px;
	color:	black;
	margin-left: 40em;
}

.espacio-arriba{
	margin-top: 15em;
}

.ad_categ{
	font-size: 18px;
	text-align: center;
	margin-top: 5em;
}
.login{
	font-size: 18px;
	text-align: center;
	margin-top: 15em;
}

.imagen-Carrito{
	margin-top: 10px;
	margin-left: 100px;
	width: 40px;
	height: 40px;
	background-image:url(/CompuMax/assets/imagenes/Carrito.png);
}

.texto-carrito{
	color: white;
	line-height: 110px;
	font-size: 18px;
}

.color-p{
	background-color: #049DBF;
}

body#p{
	background-color: #03658C;
}

div#b_lateral{
	position: absolute;
	width: 270px;
	height: 100%;
	margin left: 20px;
	background-color: #011826;
}

.img-menu{
	width: 40px;
	height: 40px;
	float: left;
	background-image:url(/CompuMax/assets/imagenes/menu.png);

	
}

.paginacion{
	margin-left: 300px;
	color:white;
}

.text-menu{
	width: 12em;
	display: list-item;
	color: white;
	line-height: 40px;
	font-size: 18px;
}

.cont-barra{
	width: 150px;
	height: 40px;
	margin-top: 240px;

}

.adminPrincipal{
	font-size: 20px;
	color: white;
}

.color-blanco{
	color:white;
}